.leaflet-container { height: calc(100vh - 48px); }

.app { display: flex; height: 100vh; }
.map-container { flex: 1; }

.leaflet-top.leaflet-left { left: 50px; }

.leaflet-control-layers-base input[type="radio"],
.leaflet-control-layers-overlays input[type="checkbox"] {
  margin: 0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}